<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

<ul>
<li>List popular languages for Data Science</li>
<li>List commonly used libraries by Data Scientists</li>
<li>List the key tools used in Data Science</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>sklearn</li>
    <li>pandas</li>
    <li>tensorflow</li>
    <li>keras</li>
</ol>

| Data Science Tools |
|-------|
| Jupyter Notebook |
| Apache Spark |
| Apache Hadoop |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
print(200 / 60)

3.3333333333333335

<h2>Author</h2>
Jacob